.app-wrapper {
  margin:0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  'h h'
  'n c';
  /*grid-gap: 10px;*/
  width: 1200px;
}

.header {
  grid-area: h;
  background-color: #FFB6B9;
}

.header img {
  width: 20px;
}


.nav {
  grid-area: n;
  background-color: #FAE3D9;
}

.content {
  grid-area: c;
  background-color: #BBDED6;
}
.content-img {
  width: 100%;
}

